<phpunit 
	bootstrap="bootstrap.php"
	colors="true"
	verbose="true">
	<php>
		<const name="NO_MAGIC" value="true"/>
	</php>
	<testsuites>
		<testsuite name="All tests">
			<directory suffix=".php">.</directory>
		</testsuite>
		<testsuite name="Shortcode">
			<file>class-shortcode_controller_tests.php</file>
			<file>class-shortcode_view_tests.php</file>
		</testsuite>
	</testsuites>
</phpunit>